---
import Spas from "../data/spas.json";
---

<div class="">
  <h2 class="text-orange-500 text-center text-4xl md:text-7xl !font-medium max-w-96 mx-auto bg-orange-50 py-6 my-18">Visit Galicia Spas</h2>
</div>

<div class="caixa grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-12 mt-24 mb-60">
  {
    Spas.map((spa) => (
      <a href={spa.enlace} target="_blank" class="relative max-w-70 mx-auto bg-orange-50 border border-indigo-700 rounded-t-full rounded-b-full overflow-hidden text-center p-3 hover:bg-white hover:text-orange-500 hover:shadow-xl hover:shadow-indigo-800/30">
        <div class="aspect-doble bg-indigo-500 rounded-t-full">
            <img src={import.meta.env.BASE_URL + `spas/${spa.imagen}`} alt={spa.titulo} class="w-full h-full object-cover rounded-t-full" />
        </div>
        <h4 class="mt-6 inline-block leading-snug max-w-60 font-body font-medium text-xl">{spa.titulo}</h4>
        <span class="block text-base mb-24 font-display text-orange-500">{spa.subtitulo}</span>
        <div class="w-fit mx-auto absolute bottom-12 -translate-x-1/2 left-1/2">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-external-link-icon lucide-external-link">
            <>
              <path d="M15 3h6v6" />
              <path d="M10 14 21 3" />
              <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6" />
            </>
          </svg>
        </div>
      </a>
    ))
  }
</div>
